<% if user_signed_in? %>
<div class='action-bar'>
  <ul class='action-bar-menu'>
    <li class='nav-item'>
      <%= link_to '', root_path, class:'far fa-compass'%>
    </li>
    <%= link_to new_post_path do %>
    <button class='btn btn-primary nav-item'>
      <i style='width: 4rem;' class='fas fa-plus'></i>
    </button>
    <% end %>
    <li class='nav-item'>
      <%= link_to '', user_path(current_user), class:'far fa-user-circle'%>
    </li>
  </ul>
</div>
<% end %>