<div class='post-thumb'>
  <%= link_to post_path(post) do %>
  <% if post.video.attached? %>
  <%= cl_video_tag(post.video.key, height: '100%', controls: true, width: '100%', class:'video-player') %>
  <% end %>
  <% end %>
</div>