<% left = left || ''%>
<% right = right || ''%>
<% center = center || (link_to 'Crank', root_path)%>

<div class='top-bar'>
  <ul class='top-bar-menu'>
    <li class='side'>
      <%= left%>
    </li>
    <li class='topbar-menu-center'>
      <%= center %>
    </li>
    <li class='side'>
      <%= right %>
    </li>
  </ul>
</div>