<div class='top-buttons-container'>
  <span class='top-buttons'>
    <%= link_to 'Trending', root_path, class:'blank-button mr-1' %>
    <%= link_to 'For you', feed_path, class:'blank-button ml-1 selected-button' %>
  </span>
</div>
<div class='container center'>
  <% if @posts.empty? %>
  <h5 style='margin-top: 300px;'> Your feed is empty :( <br>Follow other users to have their Crank's appear here! </h5>
  <%= link_to 'Discover Cranks', root_path, class:'btn btn-primary', style:'width: 180px;' %>
  <% end %>
  <% @posts.each do |post| %>
  <%= render "shared/post_card", post: post %>
  <% end %>
</div>