.avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.avatar-large {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.avatar-small {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}