// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "actionbar";
@import "topbar";
@import "post_card";
@import "post_thumb";
@import "comments_section";

.top-buttons-container {
  position: fixed;
  top: 1rem;
  width: 100%;
  text-align: center;
  z-index: 0;
}

.top-buttons {
  justify-content: center;
  margin: 0 auto;
  max-width: 240px;
  display: flex;
}

.blank-button {
  background-color: transparent;
  padding: 0.3rem 0rem;
  text-shadow: 0px 0px 10px black;
}

.selected-button {
  border-bottom: 1px solid white; 
}