.post-card {
  color: $text-main;
  width: 100%;
}

.post-user-info {
  text-align: left;
  padding: 1rem 0;
  display: flex;
}

.user-and-description {
  width: 100%;
  text-align: left;
  padding: 1rem 0;
  display: flex;
}

#heart {
  font-size: 1.5rem;
}